.list {
  position: relative;
  margin-bottom: var(--mantine-spacing-md);
  gap: var(--space-3);
}

.indicator {
  background-color: var(--mantine-color-white);
  border-radius: var(--mantine-radius-md);
  border: 1px solid var(--mantine-color-gray-2);
  box-shadow: var(--mantine-shadow-sm);

  @mixin dark {
    background-color: var(--mantine-color-dark-6);
    border-color: var(--mantine-color-dark-4);
  }
}

.tab {
  z-index: 1;
  font-weight: 500;
  transition: color 100ms ease;
  color: var(--mantine-color-gray-7);
  border-radius: var(--space-3);
  color: var(--mantine-color-black);
  background: white;
  border: 1px solid black;
  color: black;
  transition: var(--transition);

  &[data-active] {
    color: var(--mantine-color-black);
    background: black;
    color: white;
    transition: var(--transition);
  }
}
