.categoryRow {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
  height: 60px;
}

.spent {
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: var(--space-4);
  grid-template-columns: 80% 1fr 60px;
}

.modalRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: var(--space-4);
  border-top: 1px solid var(--color-gray-300);
}

.defaultTrack {
  background-color: var(--color-ok);
}

.alertTrack {
  background-color: var(--color-alert);
}
.warningTrack {
  background-color: var(--color-warning);
}
.blankTrack {
  background-color: black;
}

.thumb {
  opacity: 0;
}

.header {
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  grid-template-columns: 80% 1fr;
}
